NEXTAUTH_URL=https://buttertech-academy.vercel.app
NEXTAUTH_SECRET=
ACADEMY_STUDENT_EMAIL=
ACADEMY_STUDENT_PASSWORD=
ACADEMY_TEACHER_EMAIL=
ACADEMY_TEACHER_PASSWORD=
ACADEMY_ADMIN_EMAIL=
ACADEMY_ADMIN_PASSWORD=
